.button {
  @include box(100%, 45px);
  display: flex;
  justify-content: center;
  align-items: center;
  @include font("monserat-600", "sm", "white" , 17px);
  cursor: pointer;
  &.button_state-active {
    background-color: color("orange");
    color: color("white");

    &.button_style-rounded {
      background-color: color("white");
      color: color("orange");
      border: 1px solid color("orange");
    }
  }

  &.button_state-disable {
    background-color: color('gray');
  }

}
