.counter {
  display: flex;
  height: 30px;
  @include font("monserat-normal", "sm", "price_color", 1px);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .counter__tab {
    height: inherit;
    padding: 11px 14px;
    border: 1px solid color("counter__border");
    cursor: pointer;
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .counter__value {
    padding: 11px 16px;
    border-bottom: 1px solid color("counter__border");
    border-top: 1px solid color("counter__border");
  }
}
