.menu-sidebar {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .menu-sidebar__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(18, 18, 18, 0.7);
    backdrop-filter: blur(22px);
  }

  .menu-sidebar__panel {
    height: 100%;
    width: 300px;
    background-color: color('white');
    z-index: 15;
    position: relative;
  }
}
