.menu-sidebar {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  .menu-sidebar__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(18, 18, 18, 0.7);
    backdrop-filter: blur(22px);
  }

  .menu-sidebar__panel {
    height: 100%;
    width: 312px;
    padding: 30px;
    background-color: color('white');
    z-index: 15;
    position: relative;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.06);
    .menu-sidebar__close {
      cursor: pointer;
    }
    .menu-sidebar__row {
      margin-top: 25px;
      @include font('monserat-600', 'sm', 'main_text_color', 14px);
      cursor: pointer;
      opacity: 0.5;

      &.menu-sidebar__row_state-active {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .categories {
    width: calc(100% - 312px);
  }
}
