.modal {
  background-color: color('white');
  min-width: 500px;
  z-index: 999;
  .modal__wrapper {
    padding: 30px;

    .modal__title {
      @include font('monserat-600', 'smMed', 'main_text_color', 140%);
    }

    .modal__buttons {
      margin-top: 15px;
      .close {
        cursor: pointer;
        text-align: center;
        @include font('monserat-500', 'sm', 'main_text_color', 14px);
        margin-top: 20px;
      }
    }
  }
  &.modal-order {
    .modal__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .modal__close {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img {
          cursor: pointer;
        }
      }

      .modal__title {
        margin-top: 20px;
      }

      .modal__text {
        width: 65%;
        text-align: center;
        margin-top: 10px;
        @include font('monserat-500', 'sm', 'main_text_color', 140%);
      }

      .modal__footer {
        @include font('monserat-500', 'sm', 'reset_button', 140%);
        margin-top: 20px;
      }
    }
  }
}
