.news-slider {
  width: 100%;
  height: calc(100vh - #{$header_height});

  .keen-slider__slide {
    .keen-slider__slide__wrapper {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
}
