.page-cart {
  display: grid;
  grid-template-columns: 1fr 447px;
  grid-column-gap: 44px;
  width: 100%;
  min-height: calc(100vh - #{$footer_height + $header_height});
  padding: $content_padding;

  .content {
      .block-order {
        display: flex;
        flex-direction: column;
        height: 100%;

        .order-status {
          margin-top: 10px;
          @include font('monserat-500', 'sm', 'orange', 14px);

          &.order-status_state-processing {

          }

          &.order-status_state-cancelled{
            color: color('notify_error_color');
          }

          &.order-status_state-completed {
            color: color('green');
          }
        }

        .product-ordered-list {
          flex-grow: 1;
        }

        .button-list {
          flex-grow: 2;
          display: flex;
          align-items: flex-end;

          .button {
            width: 254px;
            &:not(:first-child) {
              margin-left: 10px;
            }
          }
        }
      }
  }
}
