.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  .overlay__background {
    background: #000000;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
