.page-product {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-column-gap: 44px;
  width: 100%;
  min-height: calc(100vh - #{$header_height});

  .wrapper {
    height: 100%;
  }

  .keen-slider {
    .keen-slider__slide {
      height: 120px;
      border: 1px solid color("main_text_color");
      &:hover {
        cursor: pointer;
        border: 1px solid color("orange");
      }
      &.keen-slider__slide__active {
        border: 1px solid color("orange");
      }
    }
  }
  .block {
    &.active-slide {
      position: relative;
    }
  }
}
