.page-product {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-column-gap: 44px;
  width: 100%;
  min-height: calc(100vh - #{$header_height});

  .wrapper {
    height: 100%;
  }

  .keen-slider {
    min-height: calc(100vh - #{$header_height});
  }
}
