.sidebar {
  .sidebar__wrapper {
    padding: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: $header_height + 10px;

    .filter-buttons {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .filter-buttons__reset {
        cursor: pointer;
        @include font('normal-500', 'sm', "reset_button", 140%);
        margin-bottom: 15px;
      }
    }

  }

}
