.sidebar {
  .sidebar__wrapper {
    padding: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: $header_height + 10px;

    .button {
      margin-top: 50px;
    }
  }

}
